/**
 * @author: Reggie
 * @lastAuthor: null
 * @createdAt: August 10, 2020
 * @updatedAt: null
 * @desc: 404 page styles.
 */
.error404 {
  .nav-desktop a {
    color: $color-2;
  }
  .logo {
    .sticky-logo.show-dktp {
      display: block;
    }
    img.show-dktp {
      display: none;
    }
  }
  #countUp {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    height: 52vh;
    .number {
      font-size: 4rem;
      font-weight: 500;
      + .text {
          margin: 0 0 1rem;
      }
    }
    .text {
      font-weight: 300;
      text-align: center;
    }
    @media(max-width:$brMobile) {
      padding-left: 37px;
      padding-right: 37px;
    }
  }
}
 