/**
 * @author: Reggie
 * @lastAuthor: null
 * @createdAt: August 11, 2020
 * @updatedAt: null
 * @desc: Archive page styles.
 */
.archive {
  .first-post {
    height: 700px;
    position: relative;
    @media(max-width:1490px) {
      .semi-full-width {
        width: 95%;
      }
    }
    @media(max-width:$brMobile) {
      .semi-full-width {
        width: 100%;
        padding-left: 37px;
        padding-right: 37px;
        padding-bottom: 37px;
      }
    }
    .image-container {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .container {
      height: 100%;
    }
    .content-details {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      > * {
        z-index: 1;
      }
      .categories {
        padding-top: 20px;
      }
      a {
        color: $color-0;
      }
      h3 {
        font-style: italic;
        &::before {
          background: $color-0;
        }
      }
    }
  }
  .btn-wrapper {
    height: 56px;
    position: relative;
    width: 232px;
    text-align: center;
    line-height: 56px;
    margin: 49px 0;
    @media(max-width:$brMobile) {
      margin: 44px 0 0;
    }
    &:hover {
      a {
        color: $btnColor-1;
      }
    }
    span {
      background: $color-0;
    }
    a {
      z-index: 1;
      line-height: 29px;
      color: $color-0;
      font-style: italic;
      font-family: $MuseoBlack;
      font-size: $fontSize-4 + 4;
    }
  }
  .blog-post-list {
    .blog-post-container { 
      border-bottom: 1px solid $color-8;
      padding: 169px 0;
      .container {
        max-width: 1190px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        display: flex;
        @media(max-width:1190px) {
          max-width: 100%;
          width: 95%;
        }
        @media(max-width:$brMobile) {
          width: 100%;
          flex-direction: column-reverse;
          padding-left: 37px;
          padding-right: 37px;
        }
      }
      &:last-child {
        border-bottom: none;
      }
      .featured-image {
        position: relative;
        height: 258px;
        width: 446px;
        .image-container {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        @media(max-width:$brMobile) {
          width: 100%;
          margin-bottom: 25px;
          height: 400px;
        }
        @media(max-width:$brMobileSmall) {
          height: 177px;
        }
      }
      .content-details {
        flex: 1;
      }
      @media(max-width: 1250px) {
        max-width: 100%;
      }
      @media(max-width:$brMobile) {
        width: 100%;
        flex-direction: column-reverse;
        .content {
          width: 100%;
        }
      }
      time {
        font-family: $Montserrat;
        font-size: $fontSize-4;
        color: $color-9;
        line-height: 40px;
      }
      .entry-title {
        padding: 29px 0 45px;
        line-height: 48px;
        a {
          color: $color-2;
        }
        @media(max-width:$brMobile) {
          padding: 32px 0 37px;
          font-size: $fontSize-3 - 6;
          line-height: 42px;
        }
      }
      .read-more {
        height: 60px;
        width: 146px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        a {
          font-family: $MuseoBlack;
          font-style: italic;
          padding: 7px 0px 13px;
          color: $color-2;
          line-height: 29px;
          font-size: $fontSize-4 + 4;
          z-index: 1;
        }
        span {
          position: absolute;
          bottom: 0;
          max-height: 11px;
          opacity: 1;
          top: auto;
          display: block;
          height: 100%;
          left: 0;
          width: 100%;
          z-index: 0;
          @include transition(max-height $duration-0 $easeOutExpo);
        }
        &:hover {
          span {
            max-height: 100%;
          }
          a {
            color: $color-0;
          }
        }
      }
      
      @media(max-width:$brMobile) {
        padding: 80px 0px 65px;
      }
    }
  }
}