/**
 * @author: Reggie
 * @lastAuthor: null
 * @createdAt: July 23, 2020
 * @updatedAt: null
 * @desc: Blog page styles.
 */
.blog-post-banner {
  height: 951px;
  position: relative;
  @media(max-width:$brMobile) {
    height: 515px;
  }
  .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    @media(max-width:$brMobile) {
      background-position: 65.5%;
    }
  }
  .container {
    max-width: 1185px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media(max-width:1185px) {
      width: 95%;
    }
    @media(max-width:$brMobile) {
      max-width: 100%;
      width: 100%;
      padding: 0 36px 40px;
    }
    .with-line {
      padding-top: 37px;
      @media(max-width:$brMobile) {
        padding-top: 43px;
      }
    }
    h1 {
      line-height: 80px;
      margin-left: -10px;
      color: $color-0;
      font-style: italic;
      @media(max-width:$brMobile) {
        font-size: $fontSize-3;
        line-height: 48px;
      }
    }
  }
  .btn-wrapper {
    height: 56px;
    position: relative;
    width: 232px;
    text-align: center;
    line-height: 56px;
    margin-bottom: 120px;
    margin-top: 49px;
    @media(max-width:$brMobile) {
      margin: 44px 0 0;
    }
    &:hover {
      a {
        color: $btnColor-1;
      }
    }
    span {
      background: $color-0;
    }
    
    a {
      z-index: 1;
      line-height: 29px;
      color: $color-0;
      font-style: italic;
      font-family: $MuseoBlack;
      font-size: $fontSize-4 + 4;
    }
  }
}

#category-list {
  display: flex;
  align-items: center;
  height: 129px;
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  justify-content: space-between;
  @media(max-width:1460px) {
    max-width: 100%;
    width: 96%;
  }
  li {
    position: relative;
    width: auto;
    padding: 0 10px;
    cursor: pointer;
    padding-bottom: 12px;
    span {
      position: absolute;
      bottom: -8px;
      max-height: 8px;
      display: block;
      height: 100%;
      left: 0;
      width: 100%;
      z-index: 0;
      @include transition(max-height $duration-0 $easeOutExpo);
    }
    a {
      font-style: italic;
      font-family: $MuseoBold;
      line-height: 29px;
      color: $color-2;
      position: relative;
      font-size: $fontSize-4 + 4;
      z-index: 1;
    }
    &.filter-item:first-child a {
      width: 63px;
      display: flex;
      justify-content: center;
    }
    &:first-of-type {
      padding-left:0;
      padding-right:0;
      &::before, span {
        background: $color-24;
      }
    }
    &:nth-child(2) {
      &::before, span {
        background: $color-25;
      }
    }
    &:nth-child(3) {
      &::before, span {
        background: $color-26;
      }
    }
    &:nth-child(4) {
      &::before, span {
        background: $color-14;
      }
    }
    &:nth-child(5) {
      &::before, span {
        background: $color-12;
      }
    }
    &:last-child {
      &::before, span {
        background:$color-15;
      }
    }
    &:hover {
      span {
        max-height: 65px;
        height: 65px;
      }
      a {
        color: $color-0;
      }
    }
    // &::before {
    //   content: "";
    //   height: 8px;
    //   width: 100%;
    //   position: absolute;
    //   bottom: 0;
    // }
  }
}

//Our blog
.our-blog {
  padding: 130px 0;
  background: $color-7;
  .featured-image {
    height: 258px;
    width: 446px;
    @media(max-width:$brMobile) {
      width: 100%;
      margin-bottom: 75px;
      height: 400px;
    }
    @media(max-width:$brMobileSmall) {
      height: 177px;
    }
  }
  .blog-post-container { 
    width: 1190px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    display: flex;
    .content {
      width: 50%;
    }
    @media(max-width: 1250px) {
      max-width: 100%;
    }
    @media(max-width:$brMobile) {
      width: 100%;
      flex-direction: column-reverse;
      .content {
        width: 100%;
      }
    }
  }
  .title + div {
    padding: 99px 0 129px;
    @media(max-width:$brMobile) {
      padding: 75px 0 90px;
    }
  }
  .title + div + div {
    padding: 128px 0 164px;
    @media(max-width:$brMobile) {
      padding: 90px 0;
    }
  }
  .blog-post {
    border-bottom: 1px solid $color-8;
    &:last-child {
      border: none;
      padding: 172px 0 130px;
      @media(max-width:$brMobile) {
        padding: 90px 0 85px;
      }
    }
  }
  time {
    font-family: $Montserrat;
    font-size: $fontSize-4;
    color: $color-9;
    line-height: 40px;
  }
  .entry-title {
    padding: 29px 0 45px;
    line-height: 48px;
    a {
      color: $color-2;
    }
    @media(max-width:$brMobile) {
      padding: 32px 0 37px;
      font-size: $fontSize-3 - 6;
      line-height: 42px;
    }
  }
  .read-more {
    height: 60px;
    width: 146px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    a {
      font-family: $MuseoBlack;
      font-style: italic;
      padding: 7px 0px 13px;
      color: $color-2;
      line-height: 29px;
      font-size: $fontSize-4 + 4;
      z-index: 1;
    }
    span {
      position: absolute;
      bottom: 0;
      max-height: 11px;
      opacity: 1;
      top: auto;
      display: block;
      height: 100%;
      left: 0;
      width: 100%;
      z-index: 0;
      @include transition(max-height $duration-0 $easeOutExpo);
    }
    &:hover {
      span {
        max-height: 100%;
      }
      a {
        color: $color-0;
      }
    }
  }
  .title {
    position: relative;
    padding-top: 33px;
    &::before {
      content: "";
      height: 8px;
      width: 98px;
      background: $color-11;
      position: absolute;
      top: 0;
    }
  }
  @media(max-width:$brMobile) {
    padding: 80px 0px 65px;
  }
}

.blog {
  .our-blog {
    background: $color-6;
    padding: 169px 0 205px;
    @media(max-width:$brMobile) {
      padding: 34px 0 91px;
    }
  }
  .select-items {
    height: 100%;
    background: $color-0;
    height: 700px;
    width: 100%;
    z-index: 5;
    position: relative;
    div {
      display: flex;
      flex-direction: column-reverse;
      background: $color-0;
      width: 100%;
      color: $color-2;
      font-size: $fontSize-4 + 4;
      font-style: italic;
      font-family: $MuseoBold;
      position: relative;
      line-height: 29px;
      padding: 55px 35px 18px;
      outline: none;
      &:first-of-type {
        &::before {
          background: $color-24;
        }
      }
      &:nth-child(2) {
        &::before {
          background: $color-25;
        }
      }
      &:nth-child(3) {
        &::before {
          background: $color-26;
        }
      }
      &:nth-child(4) {
        &::before {
          background: $color-14;
        }
      }
      &:nth-child(5) {
        &::before {
          background: $color-12;
        }
      }
      &:last-child {
        &::before {
          background:$color-15;
        }
      }
      &::before {
        height: 8px;
        width: 100%;
        margin: 0 auto;
        content: '';
        margin-top: 10px;
      }
    }
  }
  .select-selected {
    background: none;
    border: none;
    width: 100%;
    color: $color-2;
    font-size: $fontSize-4 + 4;
    font-style: italic;
    font-family: $MuseoBold;
    position: relative;
    padding: 45px 35px 0;
    line-height: 29px;
    outline: none;
    display: flex;
    flex-direction: column-reverse;
    &::before {
      height: 8px;
      width: 100%;
      background: $color-24;
      margin-top: 10px;
      content: '';
    }
  }
  .select-selected[data-category="8"] {
    &::before {
      background: $color-25;
    }
  }
  .select-selected[data-category="9"] {
    &::before {
      background: $color-26;
    }
  }
  .select-selected[data-category="10"] {
    &::before {
      background: $color-14;
    }
  }
  .select-selected[data-category="11"] {
    &::before {
      background: $color-12;
    }
  }
  .select-selected[data-category="12"] {
    &::before {
      background: $color-15;
    }
  }
  form {
    position: absolute;
    right: 35px;
    padding-top: 55px;
  }
  .select-wrapper {
    height: 137px;
    select {
      border: none;
      background: none;
      width: 100%;
      color: $color-2;
      font-size: $fontSize-4 + 4;
      font-style: italic;
      font-family: $MuseoBold;
      position: relative;
      line-height: 29px;
      outline: none;
    }
  }

  // #newslist {
  //   padding: 45px 35px;
  //   height: 137px;
  //   display: flex;
  //   align-items: center;
  //   select {
  //     border: none;
  //     background: none;
  //     width: 100%;
  //     color: $color-2;
  //     font-size: $fontSize-4 + 4;
  //     font-style: italic;
  //     font-family: $MuseoBold;
  //     position: relative;
  //     line-height: 29px;
  //     outline: none;
  //   }
  //   // option {
  //   //   padding-top: 33px;
  //   //   position: relative;
  //   //   margin-bottom: 55px;
  //   //   &::before {
  //   //     content: "";
  //   //     height: 8px;
  //   //     width: 100%;
  //   //     background: $color-11;
  //   //     position: absolute;
  //   //     bottom: 0;
  //   //   }
  //   // }
  // }
  .blog-post {
    padding: 169px 0;
    @media(max-width:$brMobile) {
      padding: 91px 0;
    }
    &:first-of-type {
      padding-top: 0;
      padding-bottom: 129px;
      @media(max-width:$brMobile) {
        padding: 0 0 91px;
      }
    }
    &:last-child {
      padding-bottom: 0;
    }
    &:nth-child(2) {
      padding-top: 129px;
      padding-bottom: 164px;
      @media(max-width:$brMobile) {
        padding: 91px 0;
      }
    }
  }
  .more-stories {
    height: 177px;
    display: flex;
    max-width: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    a {
      font-size: $fontSize-4 + 4;
      line-height: 29px;
      font-family: $MuseoBold;
      color: $color-2;
    }
    img {
      margin-top: 22px;
    }
  }
}

.select-wrapper select {
  display: none; /*hide original SELECT element:*/
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
