/**
 * @author: Reggie
 * @lastAuthor: null
 * @createdAt: July 10, 2020
 * @updatedAt: null
 * @desc: Contact us section styles.
 */
.contact-us-section {
  padding: 165px 0 185px;
  position: relative;
  > div {
    display: flex;
    @media(max-width:1200px) {
      flex-direction: column;
    }
  }
  .background {
    background: $btnColor-6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .column {
    z-index: 2;
    width: 50%;
    position: relative;
    &.right {
      padding-left: 70px;
      padding-top: 60px;
      span {
        font-size: $fontSize-3;
        line-height: 39px;
        font-family: $MuseoBold;
        color: $color-2;
        @media(max-width:$brMobile) {
          font-size: $fontSize-4 + 4;
          text-decoration: underline;
        }
      }
      @media(max-width:1200px) {
        padding-left: 0;
      }
      @media(max-width:$brMobile) {
        padding: 0;
        .social-wrapper {
          padding-top: 34px;
          padding-bottom: 58px;
        }
      }
      @media(min-width:$brMobile+1) {
        .social-wrapper {
          display: none;
        }
      }
      @media(max-width:$brMobileSmall) {
        .social-wrapper {
          justify-content: space-between;
          .icon-wrapper {
            padding: 0;
          }
        }
      }
    }
    @media(max-width:1200px) {
      width: 100%;
    }
  }
  h2 {
    padding-bottom: 63px;
    font-style: italic;
    font-size:$fontSize-0;
    line-height: 84px;
    color: $color-2;
    @media(max-width:$brMobile) {
      font-size: $fontSize-3 - 4;
      line-height: 44px;
      padding-bottom: 52px;
    }
  }
  .button-hover {
    margin-bottom: 53px;
    .button.show {
      display: none;
    }
    @media(max-width: $brMobile) {
      margin: 0 auto;
      width: 302px;
      .button {
        width: 100%;
      }
    }
    @media(max-width:$brMobileSmall) {
      width: 100%;
    }
  }
  .social-wrapper {
    display: flex;
    .icon-wrapper {
      margin-right: 25px;
      height: 47px;
      position: relative;
      &:last-of-type {
        margin-right: 0;
      }
      &:hover {
        a {
          opacity: .6;
        }
      }
    }
  }
  .info-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 63px;
    a{
      display: flex;
      align-items: center;
    }
    img {
      padding-right: 30px;
    }
    &:nth-child(3) {
      padding-bottom: 0;
    }
    @media(max-width:$brMobile) {
      padding-bottom: 30px;
    }
  }
  @media(max-width: $brMobile) {
    padding: 79px 35px;
    max-width: 100%;
    .semi-full-width {
      flex-direction: column;
    }
  }
}


// Contact Us Page Styles
.banner-form {
  overflow: hidden;
  height: 888px;
  position: relative;
  @media(max-width:1490px) {
    .semi-full-width {
      width: 98%;
    }
  }
  @media(max-width:$brMobile) {
    height: 100%;
    padding: 105px 40px 70px;
    .semi-full-width {
      width: 100%;
    }
  }
  .video-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    > div {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .title-wrapper {
    position: relative;
    padding-top: 30px;
    span {
      content: "";
      height: 8px;
      width: 98px;
      position: absolute;
      top: 0
    }
    p {
      color: $color-0;
      font-size: $fontSize-4;
      line-height: 36px;
      @media(max-width:$brMobile) {
        font-size: $fontSize-4 - 2;
        line-height: 32px;
        padding-bottom: 31.5px;
      }
    }
    h1 {
      line-height: 80px;
      font-style: italic;
      color: $color-0;
      padding-bottom: 36px;
      @media(max-width:$brMobile) {
        font-size: $fontSize-3;
        line-height: 48px;
      }
    }
  }
  .flex-column {
    height: 100%;
    z-index: 2;
    position: relative;
    > div {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media(max-width: $brMobile) {
        width: 100%;
        display: block;
      }
      &.right {
        .wpcf7 {
          max-width: 352px;
          width: 100%;
          margin-bottom: 0;
          br {
            display: none;
          }
          .wpcf7-form-control-wrap {
            display: flex;
            flex-direction: column;
            &::after {
              content: '*';
              display: block;
              position: absolute;
              right: 11px;
              font-size: $fontSize-4 - 2;
              line-height: 36px;
              top: 18px;
              bottom: auto;
              color: $color-9;
            }
          }
          input {
            padding-left: 17px;
            height: 50px;
            border-radius: 0;
            font-family: $Montserrat;
            font-size: $fontSize-5;
            line-height: 36px;
            border: none;
            width: 100%;
            position: relative;
            &::placeholder {
              color: $color-9;
            }
            margin: 15px 0;
            @media(max-width:$brMobile) {
              padding: 11.5px 0 11.5px 17px;
            }
          }
          p {
            padding-top: 8px;
            padding-bottom: 0;
          } 
          p, 
          label, 
          .wpcf7-response-output {
            color: $color-0;
            font-size: $fontSize-5 - 2;
            line-height: 36px;
            font-family: $Montserrat;
          }
          .wpcf7-not-valid-tip {
            line-height: 20px;
          }
          .wpcf7-response-output {
            margin: 0;
            line-height: 29px;
            font-size: 16px;
          }
          .wpcf7-submit {
            background: $btnColor-6;
            width: 100%;
            font-family: $MuseoBold;
            height: 65px;
            padding: 0;
            border: none;
            font-size: $fontSize-4 + 4;
            line-height: 29px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  video {
    min-height: 100%;
    min-width: 100%;
  }
}

.map-container {
  @media(max-width:$brMobile) {
    margin-top: -1px;
  }
  .sidebar-icons {
    height: 846px;
    @media(max-width:$brMobile) {
      display: flex;
      width: 100%;
      height: 140px;
      align-items: center;
      position: relative;
      > div {
        height: 100%;
        width: 25%;
      }
      img {
        width: 50px;
        height: 50px;
      }
      .icon-wrapper {
        &:last-child::after {
          content: none;
        }
        &::after {
          content: '';
          display: block;
          height: 54px;
          width: 1px;
          background: $color-0;
          position: absolute;
          right: 0;
        }
      }
    }
  }
  .right {
    width: 100%;
    .mapouter {
      @media(max-width:$brMobile) {
        height: 340px;
      }
    }
  }
}