footer {
  max-width: 1484px;
  margin: 0 auto;
  width: 100%;
  height: 443px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > div {
    height: 100%;
    position: relative;
    &.wrapper-menu {
      display: flex;
      @media(max-width:$brMobile) { 
        justify-content: space-between;
        align-items: flex-end;
      }
    }
    &.wrapper-logo-cr {
      display: flex;
      flex-direction: column;
      justify-content: center;
      P {
        font-size: $fontSize-4 - 2;
        color: $color-16;
      }
      @media(max-width:$brMobile) { 
        justify-content: flex-end;
        padding-bottom: 55px;
        p {
          font-size: $fontSize-5 - 4;
        }
      }
    }
    @media(max-width:$brMobile) { 
      width: 100%;
      height: 50%;
      padding-left: 35px;
    }
  }
  .nav-desktop {
    padding-right: 240px;
    padding-top: 104px;
    align-items: flex-start;
    li {
      padding-bottom: 37px;
    }
    a {
      font-size: $fontSize-4 + 4;
      font-family: $MuseoBlack;
      color: $color-2;
      @include transition(color $duration-1 $easeOutExpo);

      &:hover {
        color: $btnColor-6;
      }
    }
    .header-menu {
      flex-direction: column;
    }
    @media(max-width:1024px) {
        padding-right: 80px;
    }
    @media(max-width:$brMobile) {
      padding: 0;
      li {
        padding-bottom: 45px;
        &:last-child {
          padding-bottom: 15px;
        }
      }
    }
  }
  .footer-logo {
    padding-bottom: 44px;
    position: relative;
    a {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
    @media(max-width:$brMobile) {
      padding-bottom: 10px;
      img {
        width: 229px;
      }
    }
  }
  @media(max-width:$maxWidth) {
    max-width: 100%;
    width: 90%; 
  }
  @media(max-width:$brMobile) {
    flex-direction: column-reverse;
    width: 100%;
    height: 528px;
  }
}