/**
 * @author: Reggie
 * @lastAuthor: null
 * @createdAt: July 9, 2020
 * @updatedAt: null
 * @desc: Header styles.
 */

.menu-hamburger {
  display: none;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 51px;
  background: $color-2;
  outline: none;
  cursor: pointer;
  z-index: 11;
  right: 0;
  position: absolute;
  @media(max-width: $brMobile) {
    display: flex;
  }
  span {
    display: block;
    position: absolute;
    width: 26px;
    height: 3px;
    background: $color-0;
    z-index: 9999;

    &:before {
      content:'';
      position: absolute;
      top: -9px;
      width: 100%;
      height: 3px;
      background: $color-0;
      border-radius: 6px;
    }

    &:after {
      content:'';
      position: absolute;
      top: 9px;
      width: 100%;
      height: 3px;
      background: $color-0;
      border-radius: 6px;
      @include transition(top $duration-0 $easeOutExpo, width $duration-2 $easeOutExpo, transform $duration-0 $easeOutExpo, background $duration-1 $easeOutExpo);
    }
  }

  span,span:after,span:before {
    content:'';
    @include transition(top $duration-0 $easeOutExpo, transform $duration-0 $easeOutExpo, background $duration-2 $easeOutExpo);
    @include transform(rotate(0deg));
  }
}

body.active-header_js {
	.menu-hamburger {
		span {
			background: transparent !important;
      @include transition(all $duration-0 $easeOutExpo);

      &:before,&:after {
        content:'';
        top: 0;
        @include transition(top $duration-0 $easeOutExpo, transform $duration-0 $easeOutExpo);
      }

      &:before {
        content:'';
        @include transform(rotate(45deg));
      }

			&:after {
				content:'';
				width: 100%;
        @include transition(top $duration-0 $easeOutExpo, width $duration-0 $easeOutExpo, transform $duration-0 $easeOutExpo);
        @include transform(rotate(-45deg));
			}
		}
  }
  .nav-mobile {
    @include transform(translateX(0));
    @include transition(opacity $duration-0 $easeOutExpo, transform $duration-0 $easeOutExpo);
  }
}

.sticky-header {
  padding: 33px 98px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 6;
  top: 0;
  @include transition(background $duration-0 $easeOutExpo);
  a {
    font-family: $MuseoBlack;
    font-size: $fontSize-5 + 2;
    line-height: 19px;
  }
  .button-hover {
    height: auto;
    width: auto;
    background-color: $btnColor-6;
  }
  &.sticky {
    background: $color-0;
    .sticky-logo {
      display: block;
    }
   .show-dktp.main {
      display: none;
    }
    .nav-desktop a {
      color: $color-1;
      &:hover {
        color: $btnColor-6;
      }
    }
    @media(max-width:$brTablet) {
      padding: 32.5px 44px;
    }
    @media(max-width:$brMobile) {
      padding: 0;
      background: transparent;
    }
  }
  @media(max-width:$brTablet) {
    padding: 33px;
  }
  @media(max-width:$brMobile) {
    margin: 0;
    padding: 0;
    background: none;
    height: 51px;
    position: fixed;
    width: 100%;
  }
}

.sticky-logo {
  display: none;
}

.header-menu,
.logo-menu-wrapper,
.nav-desktop {
  display: flex;
}

.contact-us-btn {
  color: $color-2;
  height: 55px;
  width: 150px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-desktop,
.nav-mobile {
  align-items: center;
  a {
    color: $color-0;
    padding: 0 31px;
    @include transition(color $duration-1 $easeOutExpo);

    &:hover {
      color: $color-2;
    }
    @media(max-width:$brTablet) {
      padding: 0 15.5px;
    }
    @media(max-width:$brMobile) {
      padding: 0;
    }
  }
}

.logo {
  padding-right: 45px;
  position: relative;
  a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  @media(max-width:$brTablet) {
    padding-right: 22.5px;
  }
  @media(max-width:$brMobile) {
    padding: 0;
  }
}

.nav-mobile {
  height: 100vh;
  width: 231px;
  @include transition(opacity $duration-0 $easeInOutExpo, transform $duration-0 $easeInOutExpo);
  @include transform(translateX(100%));
  .contact-us-btn {
    display: flex !important;
    margin: 0 auto;
    width: 150px;
    font-size: $fontSize-5 + 4;
    color: $color-1;
  }
  .menu-header-menu-container,
  .menu-mobile-menu-container,
  .social-icons,
  .button-hover {
    z-index:1;
    position: relative;
  }
  .button-hover {
    width: 150px;
    margin: 0 auto 66px;
  }
  .overlay {
    background: $color-1;
    opacity: .75;
  }
  ul.header-menu {
    flex-direction: column;
    padding: 122px 40px 33px 0px;
    li {
      padding-bottom: 33px;
      text-align: right;
    }
    a {
      font-size: $fontSize-5 + 4;
    }
  }
}

.social-icons {
  ul {
    padding: 0 40px 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  li {
    padding: 0 10px;
    &:last-child {
      padding-right: 0;
    }
  }
}