/**
 * @author: Reggie
 * @lastAuthor: null
 * @createdAt: July 9, 2020
 * @updatedAt: July 10, 2020 10:40am
 * @desc: Home page styles.
 */
.top-video {
  position: relative;
  height: 100vh;
  max-height: 1080px;
  width: 100%;
  @media(max-width:$brMobile) {
    max-height: 768px;
  }
  video {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    @include transform(translateY(-50%));
    &.show-mbl {
      height: 768px;
    }
  }
}
  
// Get in touch
.get-in-touch {
  display: flex;
  .sidebar-wrapper {
    z-index: 2;
  }
  .bg-image {
    background: #fbc805;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .content-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    .content {
      padding: 160px 96px 0 150px;
      z-index: 2;
      position: relative;
      @media(max-width: 1771px) {
        padding: 110px 66px 0 100px;
      }
      @media(max-width: 1570px) {
        padding: 90px 36px 0 80px;
      }
      @media(max-width:$brMobile) {
        width: 100%;
        padding: 69px 35px;
      }
    }
    h2 {
      font-style: italic;
      line-height: 64px;
      color: $color-0;
      padding-bottom: 53px;
      @media(max-width: 1771px) {
        padding-bottom: 33px;
      }
      @media(max-width: 1494px) {
        padding-bottom: 20px;
        line-height: 46px;
        font-size: $fontSize-3;
      }
      @media(max-width:$brMobile) {
        font-size: $fontSize-3 - 6;
        padding-bottom: 40px;
      }
    }
    p {
      font-size: $fontSize-4 - 2;
      color: $color-2;
      line-height: 40px;
      font-family: $MuseoBold;
      @media(max-width:1450px) {
        width: 80%;
      }
      @media(max-width:$brMobile) {
        font-size: $fontSize-5;
        line-height: 22px;
        width: 100%;
      }
    }
    .button-hover {
      margin-top: 123px;
      @media(max-width: 1771px) {
        margin-top: 93px;
      }
      @media(max-width: $brTablet) {
        margin: 50px auto 80px;
      }
    }
  }
  .glass {
    margin-top: -71px;
    height: 688px;
    z-index: 2;
    position: absolute;
    right: 93px;
    @media(max-width:1750px) {
      height: 550px;
      right: 53px;
    }
    @media(max-width:1530px) {
      height: 450px;
      right: 33px;
    }
    @media(max-width:$maxWidth-2+76) {
      display: none;
    }
  }
}
  
  
// Informed
.informed {
  display: flex;
  height: 1708px;
  flex-direction: column;
  background: $color-6;
  .top-title {
    margin-left: 227px;
    margin-top: 110px;
    @media(max-width:1100px) {
      margin-top: 0;
    }
  }
  .container {
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
  }
  @media(max-width:1100px) {
    height: 1400px;
  }
  @media(max-width:$brMobile) {
    height: auto;
    z-index: 2;
    position: relative;
    flex-direction: column;
    .top-title {
      width: 250px;
      padding: 0;
      margin:-42px auto 0;
      text-align: center;
      position: relative;
      top: 0;
      h2 {
        line-height: 96px;
        font-size: $fontSize-3 + 4;
      }
    }
  }
  .sidebar-wrapper {
    width: 227px;
    height: 100%;
    z-index: 5;
    background: $color-2;
  }
  .slider-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 108px auto;
    > div {
      width: 50%;
      &.text-slider {
        margin-top: 180px;
        margin-left: 70px;
        width: 300px;
        .slick-list {
          overflow: visible;
          @media(max-width:1200px) {
            overflow: hidden;
          }
        }
        .slider-list {
          margin-bottom: 150px;
          position: relative;
          &.slick-active::before {
            content: '';
            top: -329px;
            height: 300px;
            width: 100%;
            position: absolute;
            display: block;
            background: $color-6;
            opacity: .6;
          }
        }
        @media(max-width:1200px) {
          margin: 0 auto 0px 560px;
          padding-top: 0;
        }
        @media(max-width:1024px) {
          margin: 0 auto 0px 470px;
        }
        @media(max-width:$brMobile) {
          margin: 0 auto;
        }
        &::before {
          top: 75px;
          background: $color-4;
          margin-top: 30px;
          @media(max-width:1200px) {
            left: 0;
            right: 0;
            margin: 0 auto;
          }
          @media(max-width:$brMobileSmall) {
            top: 10px;
          }
        }
        
      }
      &.image-slider {
        margin-left: 227px;
        .slider-list {
          display: flex;
        }
        @media(max-width:1200px) {
          margin-left: 115px;
          .slick-track {
            display: flex;
            align-items: center;
          }
        }
        @media(max-width:$brMobile) {
          margin-left: 0;
        }
      }
      @media(max-width:1200px) {
        width: 100%;
      }
    }
    .content {
      h3 {
        padding-bottom: 45px;
      }
      p {
        font-size: $fontSize-4;
        line-height: 40px;
        @media(max-width:$brMobile){
          font-size: $fontSize-4 - 2;
          line-height: 32px;
        }
      }
      @media(max-width:$brMobile){
        text-align: center;
      }
    }
    @media(max-width:1200px) {
      flex-direction: column;
    }
    @media(max-width:1100px) {
      margin: 0 auto;
    }
    @media(max-width:$brMobile){
      margin: 0px 0 100px;
      position: relative;
      z-index: 3;
    }
  }
  .slider {
    max-width: 1280px;
    overflow: hidden;
    margin: 0 auto;
    @media(max-width:1650px) {
      max-width: 1000px;
      margin: 0 auto 0 227px;
    }
    @media(max-width:1380px) {
      max-width: 900px;
    }
    @media(max-width:900px) {
      max-width: 100%;
    }
    @media(max-width:$brMobile) {
      margin: 0 auto;
    }
  }
  .slider-list {
    display: flex;
    align-items: flex-start;
    outline: none;
    &:has(.slick-active) {
      display: none;
    }
    ~ div {
      opacity: .4;
    } 
    &.slick-active {
      opacity: 1;
      @media(max-width:$brMobileSmall) {
        height: 400px;
      }
      ~ div {
        opacity: .4;
      } 
      + div,
      ~ div {
        opacity: .4;
        .content {
          padding-top: 0;
          padding-bottom: 0;
        }
      } 
    }
    .content {
      padding: 108px 0;
      .with-line {
        position: relative;
        padding-top: 33px;
        &::before {
          background: $color-11;
          @media(max-width:1200px) {
            left: 0;
            right: 0;
            margin: 0 auto;
          }
        }
      }
      @media(max-width:1200px) {
        text-align: center;
        margin: 0;
      }
      @media(max-width:$brMobileSmall) {
        padding: 40px 0;
      }
    }
    @media(max-width:1280px) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    @media(max-width:$brMobile) {
      width: 100%;
      max-width: 100%;
      img {
        width: 100%;
      }
    }
    .image img {
      margin-left: auto;
      @media(max-width:1650px) {
        width: 610px;
      }
      @media(max-width:1370px) {
        margin: 0;
      }
      @media(max-width: 950px) {
        margin-left: auto;
        margin-right: 0;
      }
      @media(max-width:$brMobile) {
        width: 100%;
        margin: 0;
      }
    }
    &.a1 .image {
      padding-top: 60px;
      @media(max-width:1440px) {
        padding-top: 180px;
      }
      @media(max-width:$brMobile) {
        padding: 40px;
        width: 80%;
        margin:0 auto
      }
      @media(max-width:$brMobileSmall) {
        width: 100%;
      }
    }
    &.a2 .image {
      padding-top: 179px;
      @media(max-width:$brMobile) {
        padding: 40px;
      }
    }
    &.a3 .image{
      padding-top: 273px;
      @media(max-width:1200px) {
        padding-top: 150px;
      }
      @media(max-width:$brMobile) {
        padding: 40px;
      }
    }
  }
  .owl-nav.disabled,
  .owl-dots {
    display: none;
  }
  .button-container {
    max-width: 1122px;
    margin: 0 auto;
    z-index: 3;
    top: 46%;
    position: absolute;
    left: 65.5%;
    @include transform(translateY(-50%));
    @media(max-width:1600px) {
      left: 68.5%;
    }
    @media(max-width:1440px) {
      left: 70.5%;
    }
    @media(max-width:1360px) {
      left: 72.5%;
    }
    @media(max-width:1200px) {
      margin: 0 auto;
      left: 0;
      width: 100%;
      height: auto;
      top: auto;
      padding-left: 227px;
      bottom: 13%;
      max-width: 100%;
      @include transform(none);
    }
    @media(max-width:1100px) {
      bottom: 7%;
      padding-left: 315px;
    }
    @media(max-width:1024px) {
      padding-left: 0;
      margin-left: 105px;
    }
    @media(max-width:$brMobile) {
      margin-left: 0px;
      bottom: 13%;
    }
  }
  .up-down-icon {
    width: 50px;
    margin: 0;
    position: relative;
    a {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
    p {
      background: $transparent;
      @include transform(translateX(170px));
      @media(max-width:$brMobile) {
        opacity: 1;
        position: relative;
        left: -75px;
        @include transform(none);
      }
    }
    img {
      background: $transparent;
      @include transform(none);
    }
    &:hover {
      p {
        @include transform(translateX(215px));
        @media(max-width:$brMobile) {
          @include transform(none);
        }
      }
    }
    @media(max-width:1200px) {
      margin: 0 auto;
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      margin-top: 50px;
    }
  }
  #main-slider {
    pointer-events: none;

    &.triggerd_scroll {
      pointer-events: inherit !important;
    }
  }
}
  
//Case Study
.case-study {
  background: $color-0;
  max-width: 1676px;
  padding: 0;
  margin: -590px auto 0;
  outline: none;
  padding-bottom: 99px;
  position: relative;
  .button-hover {
    margin-top: 85px;
    &:hover {
      a {
        color: $color-0;
      }
    }
    @media(max-width:$brMobile) {
      width: 207px;
      opacity: 1;
      margin-top: 27px;
      height: 49px;
      .button {
        height: 49px;
      }
    }
    @media(max-width:350px) {
      width: 100%;
    }
  }
  .top-title {
    top: -42px;
    z-index: 4;
    @media(max-width:$brMobile) {
      padding: 0;
      width: 342px;
      text-align: center;
      position: relative;
      margin-top: -42px;
      top: 0;
      h2{
        line-height: 76px;
      }
    }
    @media(max-width:$brMobileSmall) {
      width: 100%;
    }
  }
  .cs-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;
    @media(max-width: 1665px) {
      justify-content: space-around;
    }
    @media(max-width:1000px) {
      flex-direction: column;
    }
    @media(max-width:$brMobile) {
      justify-content: center;
    }
  }
  .custom-post {
    width: 49.1%;
    margin-right: 30px;
    height: 926px;
    padding-bottom: 25px;
    .line {
      top: -29px;
    }
    &:nth-child(even) {
      margin-right: 0;
    }
    .custom-post-container {
      height: 100%;
      width: 100%;
      position: relative;
      overflow: hidden;
    }
    .content {
      z-index: 3;
      position: absolute;
      bottom: 0;
      padding-bottom: 142px;
      width: 485px;
      left: 167px;
      @include transform(translateY(295px));
      @include transition(transform 1s $easeOutExpo);
      @media(max-width:$brMobile) {
        left: 0;
        width: auto;
        padding: 0;
        padding: 0 45px 42px;
        @include transform(none);
      }
      @media(max-width:350px) {
        padding: 0 25px 25px;
      }
    }
    .entry-title {
      font-size: $fontSize-3;
      line-height: 48px;
      padding-top: 0;
      a {
        color: $color-0;
      }
      @media(max-width:$brMobile) {
        font-size: $fontSize-4 + 4;
        line-height: 34px; 
        a {
          br {
            display: none;
          }
        }
      }
    }
    .entry-content {
      padding-top: 62px;
      color: $color-0;
      font-size: $fontSize-4;
      line-height: 38px;
      opacity: 0;
      font-family: $Montserrat;
      @include transition(opacity $duration-2 $easeOutExpo);
      @media(max-width:$brMobile) {
        font-size: $fontSize-5;
        line-height: 24px;
        opacity: 1;
        padding-top: 18px;
      }
    }
    .button-hover {
      &:hover {
        a {
          color: $color-2;
        }
      }
      span {
        background: $btnColor-6;
      }
    }
    .button {
      color: $color-0;
      border: 2px solid $color-0;
      @include transition(opacity $duration-0 $easeOutExpo);
      @media(max-width:$brMobile) {
        opacity: 1;
        font-size: $fontSize-4 - 2;
        line-height: 22px;
      }
    }
    .image-url {
      @include transform(scale(1.1));
      @include transition(transform $duration-0 $easeOutExpo);
    }
    &:hover {
      .content {
        @include transform(translateY(0px));
      }
      .image-url {
        @include transform(scale(1));
      }
      .entry-content,
      .button-hover {
        opacity: 1;
        
      }
      .content-overlay {
        opacity: .6; 
      }
    }
    @media(max-width: 1665px) {
      width: 48%;
      margin-right: 0;
    }
    @media(max-width:1000px) {
      width: 100%;
      padding: 25px 25px 0;
    }
    @media(max-width:$brMobile) {
      height: 339px;
      width: 100%;
      margin: 0 0 25px;
      padding: 0 10px;
    }
  }
  .content-overlay {
    background: $color-10;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0;
    @include transition(opacity $duration-1 $easeOutExpo);
    @media(max-width:$brMobile) {
      opacity: .6;
    }
  }
  > .button {
    background: $btnColor-6;
    margin: 83px auto 99px;
    @media(max-width:$brMobile) {
      margin: 60px auto 90px;
    }
  }
  @media(max-width: 1665px) {
    max-width: 100%;
  }
  @media(max-width: 1200px) {
    margin-top: 0;
  }
  @media(max-width:$brMobile) {
    padding: 0 26px 89px;
  }
}