/**
 * @author: Reggie
 * @lastAuthor: null
 * @createdAt: July 15, 2020 9:58am
 * @updatedAt: null
 * @desc: Our work page styles.
 */
.page-template-page-our-work #main-container {
  > section:not(:first-of-type) {
    // @media(max-width:$brTablet) {
    //   padding-left: 37px;
    //   padding-right: 37px;
    // }
  }
  .ow-flex-content {
    section:not(:first-of-type) {
      p, h4 {
        color: $color-2;
      }
    }
    .text-wrapper {
      position: relative;
      @media(max-width:$brMobile) {
        padding-bottom: 26px;
      }
    }
    @media(max-width:1495px) {
      section {
        padding-left: 37px;
        padding-right: 37px;
      }
    }
    @media(max-width:$brMobile) {
      section {
        padding-bottom: 130px;
      }
    }
  }
}
.our-work-banner {
  height: 654px;
  position: relative;
  .bg-image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
  }
  img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .container {
    position: relative;
    display: flex;
    height: 100%;
    align-items: flex-end;
    .title {
      padding-bottom: 115px;
      line-height: 80px;
      font-style: italic;
      color: $color-0;
      @media(max-width:1495px) {
        padding: 33px 0px 115px 41px;
      }
      @media(max-width:$brMobile) {
        line-height: 48px;
        padding: 33px 87px 0 41px;
        h1 {
          font-size: $fontSize-3;
        }
      }
    }
    @media(max-width:$brMobile) {
      align-items: flex-start;
      padding-top: 104px;
    }
  }
}
.ow-flex-content {
  .two-col-text {
    max-width: 1164px;
    margin: 0 auto;
    display: flex;
    padding: 115px 0;
    >div {
      width: 50%;
      @media(max-width:$brMobile) {
        width: 100%;
      }
    }
    .left p {
      font-family: $MuseoBold;
      font-size: $fontSize-3;
      line-height: 48px;
      color: $color-17;
      @media(max-width:$brMobile) {
        font-size: $fontSize-4 + 4;
        line-height: 34px;
      }
    }
    .right {
      font-size: $fontSize-4 - 2;
      line-height: 36px;
      p {
        color: $color-2;
      }
      @media(max-width:$brMobile) {
        line-height: 32px;
      }
    }
    @media(max-width:$brMobile) {
      flex-direction: column;
      padding-top: 58px;
      .left {
        padding-bottom: 50px;
      }
    }
  }
  .image-text {
    padding-bottom: 207px;
    display: flex;
    .left {
      img {
        width: 100%;
      }
      @media(max-width:$brMobile) {
        width: 100%;
      }
    }
    .right {
      width: 34%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      p,
      h4 {
        font-family: $MuseoRegular;
        line-height: 48px;
      }
      p {
        font-size: $fontSize-4;
      }
      h4 {
        font-size: $fontSize-3;
        @media(max-width:$brMobile) {
          font-size: $fontSize-3 - 6;
          line-height: 42px;
        }
      }
      @media(max-width:1024px) {
        padding-left: 10px;
      }
      @media(max-width:$brMobile) {
        align-items: flex-start;
        padding-left: 0;
        width: 100%;
      }
    }
    @media(max-width:$brMobile) {
      flex-direction: column-reverse;
    }
  }
  .two-image-text {
    padding-bottom: 194px;
    &.reverse-col {
      flex-direction: row-reverse;
      .left {
        padding-left: 181px;
        padding-right: 0;
        @media(max-width:1024px) {
          padding-left: 10px;
        }
        @media(max-width:$brMobile) {
          padding: 0;
        }
      }
      .top,
      .bottom {
        flex-direction: row-reverse;
        @media(max-width:$brMobile) {
          flex-direction: column;
        }
      }
      @media(max-width:$brMobile) {
        flex-direction: column-reverse;
      }
    }
    .top {
      display: flex;
      @media(max-width:$brMobile) {
        flex-direction: column;
      }
    }
    .left {
      padding-right: 181px;
      img {
        width: 100%;
      }
      @media(max-width:1024px) {
        padding-right: 10px;
      }
    } 
    .right {
      display: flex;
      justify-content: center;
      flex-direction: column;
      img {
        padding: 107px 0 138px;
        width: 100%;
        @media(max-width:$brMobile) {
          padding: 29px 0 0px;
        }
      }
      @media(max-width:$brMobile) {
        align-items: flex-start;
      }
    }
    .bottom {
      display: flex;
      div {
        width: 50%;
      }
      p,
      h4 {
        font-family: $MuseoRegular;
        line-height: 48px;
      }
      p {
        font-size: $fontSize-4;
      }
      h4 {
        font-size: $fontSize-3;
        @media(max-width:$brMobile) {
          font-size: $fontSize-3 - 6;
          line-height: 42px;
        }
      }
      .text-wrapper {
        padding-left: 149px !important;
        @media(max-width:$brMobile) {
          width: 100%;
          padding-left: 0 !important;
        }
      }
    }
    @media(max-width:$brMobile) {
      flex-direction: column-reverse;
      display: flex;
      .left {
        padding: 0;
      }
    }
  }
  .text-btn-image {
    padding-bottom: 229px;
    display: flex;
    justify-content: flex-end;
    &.reverse-col {
      flex-direction: row-reverse;
      .left {
        padding-left: 107px;
        padding-right: 0;
        @media(max-width:1024px) {
          padding-left: 10px;
        }
        @media(max-width:$brMobile) {
          padding: 0;
        }
      }
      @media(max-width:$brMobile) {
        flex-direction: column;
      }
    }
    > div {
      @media(max-width:$brMobile) {
        width: 100%;
      }
    }
    .left {
      padding-right: 107px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      p,
      h4 {
        font-family: $MuseoRegular;
        line-height: 48px;
      }
      p {
        font-size: $fontSize-4;
      }
      h4 {
        font-size: $fontSize-3;
        @media(max-width:$brMobile) {
          font-size: $fontSize-3 - 6;
          line-height: 42px;
        }
      }
      .text-wrapper {
        padding-bottom: 57px;
        width: 343px;
        @media(max-width:$brMobile) {
          width: 100%;
        }
      }
      .button-hover {
        @media(max-width:$brMobile) {
          display: none;
        }
      }
      @media(max-width:1024px) {
        padding-right: 0;
      }
      @media(max-width:$brMobile) {
        align-items: flex-start;
        padding-right: 0;
      }
    }
    .right {
      .button-hover {
        display: none;
        @media(max-width:$brMobile) {
          display: flex;
          margin: 0 auto;
          margin-top: 26px;
        }
        @media(max-width:$brMobileSmall) {
          width: 100%;
        }
      }
      img {
        width: 100%;
      }
    }
    .button-hover {
      background: $color-20;
      &:hover a {
        color: $color-0;
      }
      span {
        background: $btnColor-6;
      }
    }
    @media(max-width:$brMobile) {
      flex-direction: column;
    }
  }
}

.our-clients {
  background: $color-6;
  padding: 140px 0 91px;
  .container {
    max-width: 1150px;
    margin: 0 auto;
  }
  .title {
    padding-bottom: 109px;
    h3 {
      color: $color-2;
    }
    &::before {
      background: $color-4;
    }
    @media(max-width: $brMobile) {
      padding-bottom: 0;
    }
  }
  .logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .img-wrapper {
    width: auto;
    padding-bottom: 75px;
    height: 100%;
    padding-right: 100px;
    // &:nth-child(2) img {
    //   padding: 0 40px 0px 70px;
    //   @media(max-width:$brMobile) {
    //     padding: 0;
    //   }
    // }
    &:nth-child(4n+4) {
      padding-right: 0;
    }
    @media(max-width:1200px) {
      margin: 0 50px 75px;
      padding: 0;
    }
    @media(max-width:1024px) {
      margin: 0 50px 50px;
    }
    @media(max-width:$brMobile) {
      width: 50%;
      margin: 0;
      padding-top: 50px;
      text-align: center;
      padding-bottom: 0;
      &:nth-child(even) {
        padding: 50px 25px 0px 25px;
      }
      &:nth-child(odd) {
        padding-right: 25px;
      }
    }
    @media(max-width:$brMobileSmall){
      &:nth-child(even) {
        padding: 50px 0px 0px 25px;
      }
    }
  }
  img {
    @media(max-width:$brMobileSmall ) {
      width: 100%;
    }
  }
  @media(max-width:1200px) {
    padding: 99px 37px 69px;
  }
}