
/**
 * @author: Reggie
 * @lastAuthor: null
 * @createdAt: July 31, 2020
 * @updatedAt: null
 * @desc: Single post styles.
 */
.sp-banner {
  position: relative;
  .title-wrapper {
    position: absolute;
    z-index: 2;
    padding-left: 227px;
    padding-bottom: 136px;
    bottom: 0;
    padding-top: 30px;
    width: 98%;
    @media(max-width:$brMobile) {
      padding-left:36px;
      padding-bottom: 49px;
      padding: 40px 30px;
      width: 100%;
      h1 {
        margin: 0;
      }
    }
    span {
      content: "";
      height: 8px;
      width: 98px;
      position: absolute;
      top: 0
    }
    h1 {
      line-height: 80px;
      font-style: italic;
      color: $color-0;
      @media(max-width:$brMobile) {
        font-size: $fontSize-3;
        line-height: 48px;
      }
    }
  }
  .container {
    position: relative;
    height: 798px;
    width: 100%;
    @media(max-width: $brMobile){
      height: 511px;
    }
    > div {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.single-post {
  h1,h2,h3,h4,h5,h6 {
    margin: 30px 0;
  }
  p {
    margin-bottom: 20px;
    line-height: 29px;
    color: $color-2;
  }
  .content-details {
    padding: 50px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .recent-post-section {
    padding-top: 87px;
    @media(max-width:1024px) {
      padding: 23px 0px;
    }
    @media(max-width:$brMobile) {
      width: 100%;
    }
    .title-container {
      position: relative;
      padding-bottom: 46px;
      padding-top: 33px;
      .line {
        top: 0;
      }
      @media(max-width:$brMobile) {
        padding: 20px 0 0;
        h3 {
          font-size: $fontSize-3 - 6;
        }
      }
    }
    .flex-column {
      justify-content: space-between;
      @media(max-width:1280px) {
        display: block;
      }
    }
    .more-work .button-hover {
      margin: 0 auto;
      &:hover {
        .button {
          color: $color-0;
        }
      }
      .button {
        color: $color-1;
      }
    }
    .cs-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      z-index: 2;
      @media(max-width:1000px) {
        flex-direction: column;
      }
      @media(max-width:$brMobile) {
        justify-content: center;
      }
    }
    .custom-post {
      width: 33%;
      margin-right: 30px;
      height: 420px;
      &:last-child {
        margin-right: 0;
      }
      .custom-post-container {
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
      }
      .button-hover {
        justify-content: flex-start;
        span {
          background: $btnColor-6;
        }
        @media(max-width:$brMobile) {
          height: 49px;
          width: 207px;
        }
        @media(max-width:$brMobileSmall - 150) {
          width: 100%;
        }
      }
      .line {
        top: -30px;
      }
      .content {
        z-index: 3;
        position: absolute;
        bottom: 0;
        padding-bottom: 40px;
        left: 40px;
        width: 80%;
        @include transition(transform 1s $easeOutExpo);
        @media(max-width:1024px) {
          left: 0;
          width: 100%;
          padding: 0;
          padding: 0 47px 45px 43px;
          @include transform(none);
        }
        @media(max-width:$brMobileSmall - 150) {
          padding: 0 23px 25px;
        }
      }
      .entry-title {
        font-size: $fontSize-3;
        line-height: 48px;
        padding-top: 0;
        a {
          color: $color-0;
          @media(max-width:1024px) {
            br {
              display: none;
            }
          }
        }
        @media(max-width:1024px) {
          font-size: $fontSize-4 + 4;
          line-height: 34px;
          &::before {
            content: none;
          }
        }
      }
      .entry-content {
        padding-top: 62px;
        color: $color-0;
        font-size: $fontSize-4;
        line-height: 38px;
        padding-bottom: 20px;
        opacity: 0;
        font-family: $Montserrat;
        @include transition(opacity $duration-2 $easeOutExpo);
        @media(max-width:1024px) {
          font-size: $fontSize-5;
          line-height: 24px;
          opacity: 1;
          padding-top: 18px;
        }
      }
      .button {
        color: $color-0;
        border: 2px solid $color-0;
        @include transition(opacity 1s $easeOutExpo);
        @media(max-width:1024px) {
          opacity: 1;
          font-size: $fontSize-4 - 2;
          line-height: 22px;
          width: 100%;
          height: 100%;
        }
      }
      .image-url {
        @include transform(scale(1.1));
        @include transition(transform .4s $easeOutExpo);
      }
      &:hover {
        .image-url {
          @include transform(scale(1));
        }
        .entry-content,
        .button-hover {
          opacity: 1;
        }
        .content-overlay {
          opacity: .6; 
        }
      }
      @media(max-width: 1665px) {
        margin-right: 0;
      }
      @media(max-width:1280px) {
        margin: 0 0 38px;
        width: 100%;
      }
      @media(max-width:$brMobile) {
        height: 340px;
      }
    }
    .content-overlay {
      background: $color-10;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 2;
      opacity: 0;
      @include transition(opacity $duration-1 $easeOutExpo);
      @media(max-width:$brMobile) {
        opacity: .6;
      }
    }
  }
  .post-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    width: 95%;
    margin: 0 auto;
    @media(max-width:$brMobile) {
      padding: 0;
    }
    a {
      color: $color-2;
    }
    img {
      padding-top: 15px;
    }
    p {
      display: flex;
      margin-bottom: 0;
      align-items: center;
    }
    .prev {
      img {
        @include transform(rotate(90deg));
      }
    }
    .next {
      flex-direction: row-reverse;
      img {
        @include transform(rotate(-90deg));
      }
    }
  }
}