
/**
 * @author: Reggie
 * @lastAuthor: null
 * @createdAt: August 10, 2020
 * @updatedAt: null
 * @desc: Privacy Policy page styles.
 */
.pp-banner {
  position: relative;
  .title-wrapper {
    position: absolute;
    z-index: 2;
    padding-left: 200px;
    padding-bottom: 100px;
    bottom: 0;
    padding-top: 30px;
    width: 98%;
    @media(max-width:$brMobile) {
      padding-left:36px;
      padding-bottom: 49px;
      padding: 40px 30px;
      width: 100%;
      h1 {
        margin: 0;
      }
    }
    span {
      content: "";
      height: 8px;
      width: 98px;
      position: absolute;
      top: 0
    }
    h1 {
      line-height: 80px;
      font-style: italic;
      color: $color-0;
      @media(max-width:$brMobile) {
        font-size: $fontSize-3;
        line-height: 48px;
      }
    }
  }
  .container {
    position: relative;
    height: 600px;
    width: 100%;
    @media(max-width: $brMobile){
      height: 411px;
    }
    > div {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .image-container {
    height: 100%;
    width: 100%;
  }
}
.privacy-policy {
  h1,h2,h3,h4,h5,h6 {
    margin: 30px 0;
  }
  @media(max-width:$brMobile) {
    h2 {
      font-size: $fontSize-3 - 2;
      line-height: 46px;
    }
    h3 {
      font-size: $fontSize-3 - 4;
      line-height: 40px;
    }
    h4 {
      font-size: $fontSize-4;
      line-height: 30px;
    }
    h5 {
      font-size: $fontSize-4 - 2;
      line-height: 28px;
    }
    h6 {
      font-size: $fontSize-4 - 4;
      line-height: 24px;
    }
  }
  p {
    margin-bottom: 20px;
    line-height: 29px;
    color: $color-2;
  }
  .content-details {
    padding: 50px 0;
    img {
      width: 100%;
      height: auto;
    }
    @media(max-width:1024px) {
      padding: 50px 37px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}