/**
 * @author: Reggie
 * @lastAuthor: null
 * @createdAt: July 9, 2020 2:01am
 * @updatedAt: null
 * @desc: Sidebar icons styles.
 */
.sidebar-icons {
  width: 227px;
  height: 956px;
  > div {
    height: 25%;
    display: flex;
    align-items: center;
    background: $color-2;
    justify-content: center;
    border-bottom: 1px solid $color-0;
    position: relative;
    a {
      @include transition(opacity $duration-0 $easeOutExpo);
    }
    &:hover a {
      opacity: .5;
    }
  }
}