/**
 * @author: Reggie
 * @lastAuthor: null
 * @createdAt: July 24, 2020
 * @updatedAt: null
 * @desc: Single Case Study styles.
 */
.cs-single-banner {
  overflow: hidden;
  position: relative;
  .title-wrapper {
    position: absolute;
    z-index: 2;
    padding-left: 227px;
    padding-bottom: 136px;
    bottom: 0;
    padding-top: 30px;
    @media(max-width:$brMobile) {
      padding-left:36px;
      padding-bottom: 49px;
      width: 80%;
    }
    span {
      content: "";
      height: 8px;
      width: 98px;
      position: absolute;
      top: 0
    }
    h1 {
      line-height: 80px;
      font-style: italic;
      color: $color-0;
      @media(max-width:$brMobile) {
        font-size: $fontSize-3;
        line-height: 48px;
      }
    }
  }
  .container {
    position: relative;
    max-height: 798px;
    height: 100%;
    @media(max-width: $brMobile){
      max-height: 422px;
    }
    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
  video {
    min-height: 100%;
    min-width: 100%;
  }
}
.cs-flexible-content {
  position: relative;
  overflow: hidden;
  .lotus-container {
    opacity: 0;
  }
  &.active {
    .lotus-container {
      opacity: 1;
    }
    .lot1, .lot2,.lot4 {
      transform-origin: bottom left;
      animation-fill-mode: forwards;
      transition-timing-function: ease-out;
    }
    .lot3 {
      animation-fill-mode: forwards;
      transition-timing-function: ease-out;
      transform-origin: bottom center;
    }
    .lot1 {
      animation: lotus1 1.2s;
    }
    .lot2 {
      animation: lotus2 1s;
    }
    .lot3 {
      animation: lotus3 1.8s;
    }
    .lot4 {
      animation: lotus4 1s;
    }
  }
  @keyframes lotus1 {
    0% {opacity: 0; transform: rotate(-35deg) rotateX(45deg);}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes lotus2 {
    0% {opacity: 0; transform: rotate(-25deg) rotateX(45deg);}
    25% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes lotus3 {
    0% {opacity: 0; transform: translateY(330px);}
    25% {opacity: 0;}
    100% {opacity: 1; height: 1058px;}
  }
  @keyframes lotus4 {
    0% {opacity: 0; transform: rotate(-25deg) translateX(-125px);}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }
  .lotus-container { 
    height: 100%;
    width: 100%;
    top: 40px;
    position: absolute;
    transform: translateX(-585px);
    img {
      position: absolute;
      @media(max-width:$brMobile) {
        right: 0;
        top: auto;
      }
    }
  }
  > img {
    position: absolute;
    @media(max-width:$brMobile) {
      right: 0;
      top: auto;
    }
  }
  .container {
    &.right_column_text {
      width: 100%;
      .flex-column {
        padding: 118px 0 521px;
        > div {
          color: $color-0;
        }
        @media(max-width:1460px) {
          width: 95%;
        }
        @media(max-width:$brMobile) {
          width: 100%;
          padding: 80px 30px 80px 27px;
        }
      }
      h3 {
        line-height: 48px;
        margin-bottom: 56px;
        @media(max-width:$brMobile) {
          margin-bottom: 47px;
          line-height: 42px;
          font-size: $fontSize-3 - 6;
        }
      }
      ul {
        padding-top: 58px;
        @media(max-width:$brMobile) {
          padding-top: 56px;
        }
        li {
          font-family: $Montserrat;
          font-weight: 600;
          line-height: 42px;
          font-size: $fontSize-4 - 2;
          text-transform: uppercase;
          padding-left: 47px;
          opacity: 0;
          position: relative;
          @include transition(opacity $duration-1 $easeOutExpo);
          @media(max-width:$brMobile) {
            line-height: 38px;
            font-size: $fontSize-4 - 6;
          }
          &::before {
            position: absolute;
            content: '';
            background: $color-0;
            width: 30px;
            height: 2px;
            bottom: 13px;
            display: block;
            left: 0;
          }
          &::after {
            position: absolute;
            content: '';
            background: url('./../../src/images/check-icn.png');
            width: 30px;
            height: 30px;
            opacity: 0;
            bottom: 8px;
            display: block;
            left: 3px;
            background-size: cover;
            @include transition(opacity .6s $easeOutExpo);
          }
          &.active {
            opacity: 1;
            &::after {
              opacity: 1;
            }
          }
        }
      }
      + .upload_video {
        margin-top: -335px;
        padding-bottom: 0;
        @media(max-width:1024px) {
          margin-top: -320px;
        }
        @media(max-width:$brMobile) {
          margin-top: 0;
        }
      }
    }
    &.upload_video {
      z-index: 1;
      position: relative;
      padding-bottom: 152px;
      @media(max-width:$brMobile) {
        padding-bottom: 80px;
      }
      &.not-fullwidth {
        padding: 0 36.5px 52px;
        video {
          width: 1441px;
          height: 836px;
        }
        @media(max-width:$brMobile) {
          padding-bottom: 52px;
          .width-of video {
            height: 176px;
            width: 100%;
          }
        }
      }
      .width-of {
        position: relative;
        // .overlay {
        //   width: 1441px;
        //   height: 836px;
        // }
        video {
          // width: 1441px;
          // height: 836px;
          margin: 0 auto;
          @media(max-width:1440px) {
            width: 100%;
            height: 100%;
          }
        }
      }
      #play_button {
        width:100px;
        cursor: pointer;
        top: 49%;
        @media(max-width:$brMobile) {
          justify-content: center;
          span {
            font-size: $fontSize-4 + 4;
            border-width: 6px;
            line-height: 29px;
          }
          img {
            width: 22px;
            height: 24px;
          }
        }
      }
    }
    &.upload_video_s {
      padding-bottom: 142px;
      .width-of {
        width: 864px;
        position: relative;
        @media(max-width:864px) {
          width: 100%;
        }
      }
      @media(max-width:$brMobile) {
        padding-bottom: 53px;
        padding-left: 37px;
        padding-right: 37px;
      }
    }
    &.two_column_text {
      // padding: 142px 0 520px;
      padding: 142px 0 50px;
      background: $color-30;
      position: relative;
      .flex-column blockquote {
        padding-bottom: 58px;
        @media(max-width:$brMobile) {
          padding-bottom: 49px
        }
        + p {
          font-size: $fontSize-4;
          color: $color-2;
          line-height: 38px;
          @media(max-width:$brMobile) {
            line-height: 34px;
            width: 240px;
            margin: 0 auto;
          }
        }
        p {
          color: inherit;
          font-family: $MuseoRegular;
          font-size: $fontSize-1 - 4;
          line-height: 70px;
          @media(max-width:$brMobile) {
            font-size: $fontSize-3 - 2;
            line-height: 50px;
          }
        }
      } 
      @media(max-width:$brMobile) {
        padding: 75px 31px 150px;
        background: $color-31;
      }
      .left {
        padding-left: 146px;
        padding-right: 65px;
        @media(max-width:$brMobile) {
          padding: 0 0 107px;
        }
      }
      .right {
        display: flex;
        justify-content: flex-end;
        padding-right: 97px;
        h3 {
          padding-bottom: 20px;
          font-size: $fontSize-1;
          line-height: 42px;
          @media(max-width:$brMobile) {
            font-size: $fontSize-1 + 6;
            word-break: break-word;
            line-height: 55px;
          }
        }
        p {
          padding-bottom: 39px;
          font-size: $fontSize-4 + 2;
          line-height: 42px;
          @media(max-width:$brMobile) {
            font-size: $fontSize-4 - 2;
            color: $color-29;
          }
          &:last-child {
            padding: 0;
          }
        }
        // .text-wrapper > p:last-child {
        //   @media(max-width:$brMobile) {
        //     line-height: 24px;
        //   }
        // }
        @media(max-width:$brMobile) {
          padding: 0;
          justify-content: center;
        }
      }
      .text-wrapper {
        text-align: center;
      }
      h3 {
        padding-bottom: 59px;
        @media(max-width:$brMobile) {
          padding-bottom: 24px;
        }
      }
      p {
        color: $color-27;
        @media(max-width:$brMobile) {
          line-height: 38px;
          color: $color-28;
        }
      }
      + .image_only {
        // margin-top: -378px;
        @media(max-width:$brMobile) {
          margin-top: -52px;
        }
      }
    }
    &.image_only {
      text-align: center;
      position: relative;
      padding-bottom: 142px;
      @media(max-width:1460px) {
        img {
          width: 100%;
        }
      }
      @media(max-width:$brMobile) {
        padding-left: 37px;
        padding-right: 37px;
        padding-bottom: 53px;
      }
      &.fw-mobile {
        padding-left: 0;
        padding-right: 0;
      }
    }
    &.two_column_image {
      padding-bottom: 112px;
      @media(max-width:1460px) {
        .flex-column {
          width: 96%;
        }
        img {
          width: 100%;
        }
      }
      @media(max-width:$brMobile) {
        padding-bottom: 80px;
        padding-left: 37px;
        padding-right: 37px;
        .flex-column {
          width: 100%;
        }
      }
      &.tile-style {
        .left {
          text-align: right;
          padding-right: 52px;
          @media(max-width:$brMobile) {
            padding-right: 0;
          }
          
        }
        .right {
          margin-top: 133px;
          padding-left: 52px;
          text-align: left;
          @media(max-width:$brMobile) {
            padding-bottom: 0;
            padding-left: 0;
            margin-top: 0;
          }
        }
      }
      .left, 
      .right {
        text-align: center;
      }
      .left {
        @media(max-width:$brMobile) {
          padding-bottom: 80px;
        }
      }
    }
    video {
      width: 100%;
    }
  }
  .flex-column {
    > div {
      width: 50%;
      @media(max-width:$brMobile) {
        width: 100%;
      }
    }
    p {
      font-size: $fontSize-4;
      line-height: 38px;
      @media(max-width:$brMobile) {
        font-size: $fontSize-4 - 2;
        line-height: 34px;
      }
    }
  }
}
.width-of {
  max-width: 1460px;
  margin: 0 auto;
  width: 100%;
}
.related-post-container {
  padding-top: 87px;
  padding-bottom: 142px;
  @media(max-width:1460px) {
    width: 97%;
    margin: 0 auto;
  }
  @media(max-width:1024px) {
    padding: 23px 37px 74px;
  }
  @media(max-width:$brMobile) {
    width: 100%;
  }
  .title-container {
    position: relative;
    padding-bottom: 46px;
    padding-top: 33px;
    .line {
      top: 0;
    }
    @media(max-width:$brMobile) {
      padding-bottom: 74px;
      h3 {
        font-size: $fontSize-3 - 6;
      }
    }
  }
  .flex-column {
    padding-bottom: 166px;
    justify-content: space-between;
    @media(max-width:1024px) {
      display: block;
    }
    @media(max-width:$brMobile) {
      padding-bottom: 64px;
    }
  }
  .more-work .button-hover {
    margin: 0 auto;
    &:hover {
      .button {
        color: $color-0;
      }
    }
    .button {
      color: $color-1;
    }
  }
  .cs-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;
    @media(max-width: 1665px) {
      justify-content: space-around;
    }
    @media(max-width:1000px) {
      flex-direction: column;
    }
    @media(max-width:$brMobile) {
      justify-content: center;
    }
  }
  .custom-post {
    width: 33%;
    margin-right: 30px;
    height: 520px;
    &:last-child {
      margin-right: 0;
    }
    .custom-post-container {
      height: 100%;
      width: 100%;
      position: relative;
      overflow: hidden;
    }
    .button-hover {
      justify-content: flex-start;
      span {
        background: $btnColor-6;
      }
      @media(max-width:$brMobile) {
        height: 49px;
        width: 207px;
      }
      @media(max-width:$brMobileSmall - 150) {
        width: 100%;
      }
    }
    .line {
      top: -30px;
    }
    .content {
      z-index: 3;
      position: absolute;
      bottom: 0;
      padding-bottom: 61px;
      left: 68px;
      width: 80%;
      @include transform(translateY(265px));
      @include transition(transform 1s $easeOutExpo);
      @media(max-width:1024px) {
        left: 0;
        width: 100%;
        padding: 0;
        padding: 0 47px 45px 43px;
        @include transform(none);
      }
      @media(max-width:$brMobileSmall - 150) {
        padding: 0 23px 25px;
      }
    }
    .entry-title {
      font-size: $fontSize-3;
      line-height: 48px;
      padding-top: 0;
      a {
        color: $color-0;
        @media(max-width:1024px) {
          br {
            display: none;
          }
        }
      }
      @media(max-width:1024px) {
        font-size: $fontSize-4 + 4;
        line-height: 34px;
        &::before {
          content: none;
        }
      }
    }
    .entry-content {
      padding-top: 62px;
      color: $color-0;
      font-size: $fontSize-4;
      line-height: 38px;
      padding-bottom: 20px;
      opacity: 0;
      font-family: $Montserrat;
      @include transition(opacity $duration-2 $easeOutExpo);
      @media(max-width:1024px) {
        font-size: $fontSize-5;
        line-height: 24px;
        opacity: 1;
        padding-top: 18px;
      }
    }
    .button {
      color: $color-0;
      border: 2px solid $color-0;
      @include transition(opacity 1s $easeOutExpo);
      @media(max-width:1024px) {
        opacity: 1;
        font-size: $fontSize-4 - 2;
        line-height: 22px;
        width: 100%;
        height: 100%;
      }
    }
    .image-url {
      @include transform(scale(1.1));
      @include transition(transform, 1s, $easeOutExpo);
    }
    &:hover {
      .content {
        @include transform(translateY(0px));
      }
      .image-url {
        @include transform(scale(1));
      }
      .entry-content,
      .button-hover {
        opacity: 1;
      }
      .content-overlay {
        opacity: .6; 
      }
    }
    @media(max-width: 1665px) {
      margin-right: 0;
    }
    @media(max-width:1024px) {
      margin: 0 0 38px;
      width: 100%;
    }
    @media(max-width:$brMobile) {
      height: 340px;
    }
  }
  .content-overlay {
    background: $color-10;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0;
    // background: url(./../../src/images/related-bg.png);
    @include transition(opacity $duration-1 $easeOutExpo);
    @media(max-width:$brMobile) {
      opacity: .6;
    }
  }
}