/**
 * @author: Reggie
 * @lastAuthor: null
 * @createdAt: July 17, 2020 9:42am
 * @updatedAt: null
 * @desc: What we do page styles.
 */
 .page-template-page-what-we-do {
  .wwd-banner {
    height: 649px;
    overflow: hidden;
    position: relative;
    video {
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      @media(max-width:$brMobile) {
        height: 100%;
      }
    }
    img {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    .container {
      position: relative;
      display: flex;
      z-index: 2;
      height: 100%;
      align-items: flex-end;
      .title {
        padding-bottom: 115px;
        line-height: 80px;
        font-style: italic;
        color: $color-0;
        @media(max-width:1495px) {
          padding: 33px 0px 115px 41px;
        }
        @media(max-width:$brMobile) {
          line-height: 48px;
          padding: 33px 20px 0 41px;
          h1 {
            font-size: $fontSize-3;
          }
        }
      }
      @media(max-width:$brMobile) {
        h1 br {
          display: none;
        }
        align-items: flex-end;
        padding-bottom: 71px;
      }
    }
    @media(max-width:$brMobile) {
      height: 616px;
    }
  }
  .wwd-image-text {
    .right .container {
      position: relative;
    }
    video {
      width: 810px;
      height: 512px;
      @media(max-width:1300px) {
        width: 650px;
      }
      @media(max-width:950px) {
        width: 100%;
        height: 100%;
      }
    }
    &#wwd-image-text-1{
      .column.left{
        padding-bottom: 84px;
      }
      .column.right{
        padding-top: 50px;
        @media(max-width: 950px){
          margin: 0 auto;
          padding-top: 0;
        }
      }
    }
    .content-wrapper {
      max-width: 1595px;
      margin: 0 auto;
      align-items: center;
      justify-content: space-between;
      display: flex;
      height: 100%;
      @media(max-width:1595px) {
        width: 95%;
      }
      @media(max-width:1300px) {
        img {
          width: 100%;
        }
      }
      @media(max-width:950px) {
        width: 100%;
        padding-left: 36px;
        padding-right: 36px;
        flex-direction: column;
        align-items: flex-start;
        .left {
          padding: 90px 0 54px;
        }
      }
    }
    &.reverse-col .content-wrapper {
      flex-direction: row-reverse;
      .left {
        margin-left: 0;
        margin-right: 140px;
        p {
          color: $color-0;
        }
        @media(max-width:1595px) {
          margin-right: 41px;
        }
        @media(max-width:950px) {
          margin-right: 0;
        }
      }
      @media(max-width:950px) {
        flex-direction: column;
      }
    }
    &:nth-child(2) {
      z-index: 1;
      margin-top: -84px;
      height: 684px;
      position: relative;
      .right {
        margin-top: -21px;
        @media(max-width:1300px) {
          margin-top: 0;
        }
      }
      @media(max-width:1300px) {
        margin-top: 0;
      }
      @media(max-width:950px) {
        height: 100%;
        margin: 36px 0 0;
        
        .right img {
          margin-bottom: -3px;
        }
      }
    }
    &:last-child {
      padding-top: 80px;
      padding-bottom: 92px;
      @media(max-width:950px) {
        padding-top: 0;
        padding-bottom: 71px;
        .left {
          padding-bottom: 37px;
        }
      }
    }
    @media(max-width:1300px) {
      br {
        display: none;
      }
    }
  }
  .wwd-image-text-section {
    .left {
      width: 421px;
      margin-left: 167px;
      h3 {
        line-height: 49px;
        color: $color-22;
        padding-bottom: 37px;
        @media(max-width:$brMobile) {
          padding-bottom: 39px;
          line-height: 42px;
          font-size: $fontSize-3 - 6;
        }
      }
      h5 {
        margin-top: 50px;
        color: $color-23;
      }
      p {
        font-size: $fontSize-4 - 2;
        line-height: 38px;
        color: $color-2;

        @media screen and (max-width: 1400px){
          br{
            display: none;
          }
        }
      }
      @media(max-width:1595px) {
        margin-left: 41px;
        margin-right: 20px;
      }
      @media(max-width:950px) {
        margin: 0;
        padding-bottom: 57px;        
        width: 100%;
        h3 br,
        p br {
          display: none;
        }
      }
    }
  }

  //About section
  .wwd-about {
    position: relative;
    .container {
      font-size: $fontSize-2;
      line-height: 64px;
      z-index: 1;
      position: relative;
      padding-top: 143px;
      color: $color-0;
      text-align: center;
      padding-bottom: 149px;
      max-width: 1028px;
      width: 100%;
      margin: 0 auto;
      p {
        font-family: $MuseoBlack;
      }
      @media(max-width:$brMobile) {
        font-size: $fontSize-4 + 6;
        line-height: 36px;
        padding: 87px 41px;
        max-width: 100%;
      }
    }
    .bg-color {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
  }

  // Team member
  .wwd-tm .container {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    @media(max-width:$brMobile) {
      flex-direction: column;
      img {
        width: 100%;
      }
    }
  }
  .more-tm-btn {
    height: 177px;
    display: flex;
    justify-content: center;
    .btn-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      justify-content: center;
    }
    span {
      margin-bottom: 24px;
      font-size: $fontSize-4 + 4;
      line-height: 29px;
      color: $color-2;
    }
  }
  .tm-wrapper {
    position: relative;
    overflow: hidden;
    width: 33.33%;
    border-right: 1px solid white;
    @media(max-width:$brMobile) {
      border: none;
      width: 100%;
    }
    &:last-child {
      border: none;
    }
    .bnw-avatar {
      z-index: 3;
      position: relative;
      width: 100%;
      height: 100%;
    }
    .colored-avatar {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 33.281vw;
      @include transition(opacity $duration-1 $easeOutExpo, transform $duration-1 $easeOutExpo);

    }
    &:hover {
      .colored-avatar {
        z-index: 4;
        opacity: 1;
        @include transform(scale(1.1));
      }
      .bnw-avatar {
        opacity: 0;
      }
    }
    .info-wrapper {
      position: absolute;
      z-index: 5;
      bottom: 69px;
      left: 93px;
      color: $color-0;
      flex-direction: column;
      display: flex;
      .name {
        font-size: $fontSize-0 - 8;
        line-height: 74px;
        @media(max-width:1024px) {
          font-size: $fontSize-3 - 2;
          line-height: 43px;
        }
      }
      .pos {
        font-size: $fontSize-4 + 7;
        line-height: 32px;
        text-transform: uppercase;
        @media(max-width:1024px) {
          font-size: $fontSize-5 + 2;
          line-height: 19px;
        }
      }
      @media(max-width:1024px) {
        bottom: 41px;
        left: 49px;
      }
    }
  }
}