// MAX WIDTH
$maxWidth : 1440px;
$maxWidth-2 : 1206px;

// FONT TYPE 
$Montserrat : 'Montserrat', sans-serif;
$MuseoSuperthin : 'MuseoSuperthin';
$MuseoThin : 'MuseoThin';
$MuseoRegular : 'MuseoRegular';
$MuseoBold : 'MuseoBold';
$MuseoBlack : 'MuseoBlack';

// FONT SIZE
$fontSize-0 : 70px;
$fontSize-1 : 52px;
$fontSize-2 : 48px;
$fontSize-3 : 38px;
$fontSize-4 : 20px;
$fontSize-5 : 14px;


$item-height: 20em;

// COLORS
$transparent : transparent;
$color-0 : #ffffff;
$color-1 : #000000;
$color-2 : #363636;
$color-3 : #707070;
$color-4 : #FFCC28;
$color-5 : #1D1D1D;
$color-6 : #F6F6F6;
$color-7 : #FAF9F9;
$color-8 : #D2D2D2;
$color-9 : #8B8E91;
$color-10 : #4A4A4A;
$color-11 : #FDD200;
$color-12 : #0E5888;
$color-14: #118B89;
$color-15: #503B69;
$color-16: #545355;
$color-17: #118a88;
$color-18: #f18f1c;
$color-19: #aa202f;
$color-20: #f0f0f0;
$color-21: #f4f4f4;
$color-22: #296299;
$color-23: #194d7f;
$color-24: #9d9d9d;
$color-25: #ffbf00;
$color-26: #7f075d;
$color-27: #777777;
$color-28: #7e7e7e;
$color-29: #828282;
$color-30: #f8f8f8;
$color-31: #fafafa;

$btnColor-1 : #890B6A;
$btnColor-2 : #1C9694;
$btnColor-3 : #176395;
$btnColor-4 : #176395;
$btnColor-5 : #FCCC00;
$btnColor-6 : #FFCC05;

// MEDIA QUERY
$brDesktop		: 1280px;
$brTablet      	: 991px;
$brMobile      	: 768px;
$brMobileSmall 	: 480px;

// EASING
$easeOutExpo : cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo : cubic-bezier(1, 0, 0, 1);
$easeInOutCubic : cubic-bezier(0.645, 0.045, 0.355, 1);

// EASING DURATION

$duration-0 : 0.4s;
$duration-1 : 0.6s;
$duration-2 : 0.8s;


