body,html {
  font-family: $MuseoRegular;
  font-size: $fontSize-4 - 2;
}

h1,h2,h3,h4,h5 {
	
}

h1 {
  font-size: $fontSize-0;
  font-family: $MuseoBlack;
}

h2 {
  font-size: $fontSize-2;
  font-family: $MuseoBlack;
}

h3 {
  font-size: $fontSize-3;
  font-family: $MuseoRegular;
}

h4 {
    
}

h5 {
   
}

p {
    font-family: $Montserrat;
}

a {
  text-decoration: none;
  color: $color-2;
  font-family: $MuseoRegular;
}

strong {
	font-weight: Bold;
}

@font-face {
	font-family: 'MuseoSuperthin';
	src: url('./../fonts/Museo100.eot');
	src: url('./../fonts/Museo100.eot?#iefix') format('embedded-opentype'),
		 url('./../fonts/Museo100.svg#Museo100-Regular') format('svg'),
		 url('./../fonts/Museo100.ttf') format('truetype'),
		 url('./../fonts/Museo100.woff') format('woff'),
		 url('./../fonts/Museo100.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoThin';
	src: url('./../fonts/Museo300-Regular.eot');
	src: url('./../fonts/Museo300-Regular.eot?#iefix') format('embedded-opentype'),
		 url('./../fonts/Museo300-Regular.svg#Museo300-Regular') format('svg'),
		 url('./../fonts/Museo300-Regular.ttf') format('truetype'),
		 url('./../fonts/Museo300-Regular.woff') format('woff'),
		 url('./../fonts/Museo300-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'MuseoRegular';
  src: url('./../fonts/Museo-500.eot');
  src: url('./../fonts/Museo-500.eot?#iefix') format('embedded-opentype'),
       url('./../fonts/Museo-500.svg#Museo-500') format('svg'),
       url('./../fonts/Museo-500.ttf') format('truetype'),
       url('./../fonts/Museo-500.woff') format('woff'),
       url('./../fonts/Museo-500.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoBold';
  src: url('./../fonts/Museo-700.eot');
  src: url('./../fonts/Museo-700.eot?#iefix') format('embedded-opentype'),
       url('./../fonts/Museo-700.svg#Museo-700') format('svg'),
       url('./../fonts/Museo-700.ttf') format('truetype'),
       url('./../fonts/Museo-700.woff') format('woff'),
       url('./../fonts/Museo-700.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoBlack';
  src: url('./../fonts/Museo900-Regular.eot');
  src: url('./../fonts/Museo900-Regular.eot?#iefix') format('embedded-opentype'),
       url('./../fonts/Museo900-Regular.svg#Museo900-Regular') format('svg'),
       url('./../fonts/Museo900-Regular.ttf') format('truetype'),
       url('./../fonts/Museo900-Regular.woff') format('woff'),
       url('./../fonts/Museo900-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
