* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

em {
  font-style: italic;
}

body {
	scroll-behavior: smooth;
}

a, a:active, a:focus,button,button:focus,input,input:focus {
	outline: none !important;
}

.hiding {
	filter: alpha(opacity=0);
  	opacity: 0;
}

.visible {
	opacity: 1;
}

.hide-section {
	display: none;
}

.show-mbl {
	display: none !important;

	@media (max-width: $brMobile) {
		display: block !important;
	}
}

.show-dktp {
	display: block;

	@media (max-width: $brMobile) {
		display: none !important;
	}
}

.no-scroll_js {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;

	#main-container {
		overflow: hidden;
	}
}

.container-max {
	width: 100%; 
	max-width: $maxWidth; 
	margin: 0 auto;
	padding: 0 35px;

	@media (max-width: $brTablet) {
		padding: 0 18px;
	}
}

#preloader {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 999;
	overflow: hidden;
	opacity: 1;

	@include transition( opacity $duration-2 $easeOutExpo, visibility $duration-2 $easeOutExpo );

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $color-6;
		opacity: 1;
	}

	.preloader-wrap {
		position: absolute;
		top: 40%;
		left: 50%;
		width: 170px;

		@include transform( translate3d(-50%,-50%,0) );

		.logo {
			position: relative;
			z-index: 2
		}

		.loader {
			position: absolute;
			bottom: 25px;
			right: -2px;
      width: 30px;
		}
	}
}

//Main button styles
.button {
  z-index: 1;
  line-height: 29px;
  font-size: $fontSize-4 + 4;
  position: relative;
  font-family: $MuseoBlack;
  height: 65px;
  width: 270px;
  display: flex;
  color: $color-2;
  align-items: center;
  justify-content: center;
  @media(max-width:$brMobileSmall) {
    width: 100%;
  }
}

//Top title with yellow background
.top-title {
  position: absolute;
  font-style: italic;
  padding: 0 22px;
  background: $btnColor-6;
  line-height: 84px;
}

.full-width {
  max-width:100%;
  width: 100%;
}

.semi-full-width {
  max-width: 1490px;
  width: 100%;
  margin: 0 auto;
}

.one-third {
  max-width: 1162px;
  margin: 0 auto;
}

.image-url {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

#main-container {
  overflow-x: hidden;
  overflow: hidden;
  @media(max-width:1460px) {
    .our-blog, .contact-us-section {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
  > section:nth-child(n+4) {
    z-index: 5;
    position: relative;
  }
}


//Button with hover animation
.button-hover {
  position: relative;
  width: 270px;
  height: 65px;
  align-items: center;
  justify-content: center;
  display: flex;
  span {
    display: block;
    position: absolute;
    left: 0;
    height: 100%;
    max-width: 0;
    overflow: hidden;
    width: 100%;
    z-index: 0;
    @include transition(max-width $duration-1 $easeOutExpo,width $duration-1 $easeOutExpo);
  }
  &:hover {
    span {
      max-width: 100%;
    }
  }
	&.yellow-bg {
    background: $color-2;
    .button {
      color: $color-0;
    }
    span {
      background: $color-0;
    }
    &:hover {
      a {
        color: $color-2;
      }
    }
  }
  &.white-bg {
    background: $btnColor-6;
    span {
      background: $color-2;
    }
    &:hover {
      a {
        color: $color-0;
      }
    }
  }
  @media(max-width:$brMobileSmall) {
    width: 100%;
  }
}

// Back to top/Scoll down button
.up-down-icon {
  margin-top: 237px;
  position: relative;
  height: 50px;
  img {
    cursor: pointer;
    position: relative;
    background: $color-0;
    @include transform(rotate(180deg));
  }
  p {
    font-family: $Montserrat;
    display: block;
    position: absolute;
    color: $color-2;
    left: -188px;
    padding: 0 29px;
    background: $color-0;
    font-weight: Bold;
    white-space: nowrap;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    @include transform(translateX(50px));
    @include transition(transform $duration-1 $easeOutExpo, opacity $duration-1 $easeOutExpo);

    @media(max-width:$brMobile) {
      left: -188px;
    }
  }
  &:hover p {
    @include transform(translateX(0px));
    opacity: 1;
  }
  @media(max-width:$brMobile) {
    margin-top: 0;
    top: 0;
    position: absolute;
    right: 0;
  }
}

//Case studies title top line
.entry-title,
.with-line {
  position: relative;
  padding-top: 33px;
  &::before {
    content: "";
    height: 8px;
    width: 98px;
    position: absolute;
    top: 0
  }
}
.line {
  height: 8px;
  width: 98px;
  position: absolute;
  top: -26px;
}
.with-line {
  padding-top: 53px;
  &.white::before {
    background: $color-0;
  }
  &.black::before {
    background: $color-2;
  }
}

//Display flex in global
.flex-column {
  display: flex;
  @media(max-width:$brMobile) {
    display: block;
  }
}


//Play button global
#play_button {
  width: 189px;
  height: 121px;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  align-items: center;
  @include transform(translate(-50%, -50%));
  span {
    font-family: $MuseoBlack;
    margin-bottom: 15px;
    padding-bottom: 13px;
    line-height: 50px;
    font-size: $fontSize-2 - 6;
    color: $color-0;
    font-style: italic;
    border-bottom: 9px solid $btnColor-6;
    @media(max-width:$brMobile) {
      font-size: $fontSize-3;
    }
  }
}

//Banner Overlay Background
.overlay {
  background: $color-5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: .3;
}